html{
    background: #e3e3e3
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}

h1 {
    font-size: 3em;
    margin: 0;

}

p {
    line-height: 1.4em;
    font-size: 16px;
}

.section-heading {
    border-bottom: 1px dotted #ccc;
    font-size: 20px;
    font-weight: bolder;
}

#CallofDutyBlackOpsColdWar {
    margin: 5px;
    font-size: 25px;
    color: black;
}

#CallofDutyModernWarfare {
    margin: 5px;
    font-size: 25px;
    color: black;
}


.nav-menu {
    height: 40px;
    width: 100%;
    background: black;
}

.nav-menu ul {
    display: flex;
    background: #000;
}

.nav-menu ul li {
    flex: 0 auto;
    width: 140px;
    height: 40px;
    line-height: 40px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #fff;
}

.blog .item {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
}

.blog .item .caption {
    position: sticky;
}

.blog .item .caption img {
    width: 100%;
}

.blog .item .caption .text {
    position: absolute;
    bottom: 10px;
    z-index: 99999;
    width: 99%;
    left: 0;
    color: #fff;
    line-height: 40px;
    padding-left: 12px;
    height: 40px;
    background: rgba(0,0,0,0.3);
}

.wrapper {
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    padding: .5em;
    position: relative;
}

.form-row span {
    position: absolute;
    top: 30px;
    right: 20px;
}

.form-row > label {
    padding: .5em 1em .5em 0;
    flex: 1;
}

.form-row > input, .form-row > textarea {
    flex: 6;
}

.form-row > input, .form-row > button, .form-row > textarea {
    padding: .5em;
}

.form-row > button {
    background: black;
    color: white;
    border: 0;
}

table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    max-width: 1000px;
    width: 100%;
    line-height: 30px;
    margin-bottom: 30px; }
    table tr {
        display: flex; }
        table tr th:first-of-type {
            width: 200px; }
        table tr th:nth-of-type(2) {
            flex: 1; }
        table tr th:last-of-type {
            width: 200px; }
        table tr td {
            border-collapse: collapse;
            border: 1px solid #eee;
            text-align: center; }
            table tr td:first-of-type {
                width: 200px; }
            table tr td:nth-of-type(2) {
                flex: 1; }
            table tr td:last-of-type {
                 width: 200px; 
}

@media (max-width: 400px) {
    h1,h2,h4,h5,h6 {
        color:orange;
    }
                p{
                    color:red;
                }
}